<h1>Projects</h1>

<table class="projects_table">

<% @projects.each do |project| %>
  <tr>
    <td><h2><%= link_to project.name, project %></h2>
        <p><%= project.description %></p></td>
    <!-- <td><br />
        <%= link_to 'Edit', edit_project_path(project) %><br />
        <%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete %></td> -->
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
