<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Gaggle data objects:</b>
  <%- if @documents && @documents.has_next? then %>
  <table class="mytable">
    <tr><th>Type</th><th>Name</th></tr>
    <%- @documents.each do |doc| -%>
    <tr><td><%= doc["type"] %></b><td><a href="/gaggle/<%= doc["_id"] %>"><%= doc["name"] %></a></td></tr>
    <%- end -%>
  </table>
  <%- end -%>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %> | <a href="">add data object</a>
