<!-- JSON support for IE (needed to use JS API) -->
<script type="text/javascript" src="/javascripts/cytoscape_web/json2.min.js"></script>
<!-- Flash embedding utility (needed to embed Cytoscape Web) -->
<script type="text/javascript" src="/javascripts/cytoscape_web/AC_OETags.min.js"></script>
<!-- Cytoscape Web JS API (needed to reference org.cytoscapeweb.Visualization) -->
<script type="text/javascript" src="/javascripts/cytoscape_web/cytoscapeweb.min.js"></script>

<p id="notice"><%= notice %></p>

<% if @doc==nil then %>

  <p><b>No network found with id: </b> <%= @id %></p>

<% else %>

  <div class="gaggle-data">
    <p>
      <b>Name:</b>
      <span class="gaggle-name"><%= @doc["name"] %></span>
    </p>

    <% if @doc["type"] %>
    <p>
      <b>Type:</b>
      <%= @doc["type"] %>
    </p>
    <% end %>

    <% if @species then %>
    <p>
      <b>Species:</b>
      <span class="gaggle-species"><%= @species %></span>
    </p>
    <% end %>

    <% if @size then %>
    <p>
      <b>Length:</b>
      <span class="gaggle-size"><%= @size %></span>
    </p>
    <% end %>

  </div> 

  <% if @doc.has_key? "description" %>
  <p>
    <b>Description:</b>
    <%= @doc["description"] %>
  </p>
  <% end %>

  <p>...display network eventually? For now, this is a placeholder:</p>
  <% if @node_count < 100 %>
  <script type="text/javascript">
  
      var vis;

      $(document).ready(function() {
            // id of Cytoscape Web container div
            var div_id = "cytoscapeweb";
            
            // create a network model object
            var network_json = {
                    // you need to specify a data schema for custom attributes!
                    dataSchema: {
                        nodes: [ { name: "label", type: "string" },
                                 { name: "foo", type: "string" }
                            ],
                        edges: [ { name: "label", type: "string" },
                                 { name: "bar", type: "string" }
                        ]
                    },
                    // NOTE the custom attributes on nodes and edges
                    data: {
                        nodes: [ { id: "1", label: "1", foo: "qwer" },
                                 { id: "2", label: "2", foo: "asdf" },
                                 { id: "3", label: "3", foo: "flippety doo" }
                        ],
                        edges: [
                          { id: "2to1", target: "1", source: "2", label: "2 to 1", bar: "hello" },
                          { id: "1to3", target: "3", source: "1", label: "1 to 3", bar: "this is an edge" },
                          { id: "2to3", target: "3", source: "2", label: "2 to 3", bar: "another edge" }
                        ]
                    }
            };
            
            // initialization options
            var options = {
                swfPath: "/swf/CytoscapeWeb",
                flashInstallerPath: "/swf/playerProductInstall"
            };
            
            var vis = new org.cytoscapeweb.Visualization(div_id, options);
            
            // callback when Cytoscape Web has finished drawing
            vis.ready(function() {
            
                // add a listener for when nodes and edges are clicked
                vis.addListener("click", "nodes", function(event) {
                    handle_click(event);
                })
                .addListener("click", "edges", function(event) {
                    handle_click(event);
                });
                
                function handle_click(event) {
                     var target = event.target;
                     
                     clear();
                     print("event.group = " + event.group);
                     for (var i in target.data) {
                        var variable_name = i;
                        var variable_value = target.data[i];
                        print( "event.target.data." + variable_name + " = " + variable_value );
                     }
                }
                
                function clear() {
                    document.getElementById("note").innerHTML = "";
                }
            
                function print(msg) {
                    document.getElementById("note").innerHTML += "<p>" + msg + "</p>";
                }
            });

            // draw options
            var draw_options = {
                // your data goes here
                network: network_json,
                // hide pan zoom
                panZoomControlVisible: false 
            };
            
            vis.draw(draw_options);
      });
  </script>

  <style>
      /* The Cytoscape Web container must have its dimensions set. */
      #cytoscapeweb { width: 500px; height: 400px; }
  </style>

  <div id="cytoscapeweb">
    Cytoscape Web
  </div>
  <% end %>

<% end %>

<%= link_to 'JSON', document_path(@id)%>
