<p id="notice"><%= notice %></p>

<% if @doc==nil then %>

  <p><b>No tuple found with id: </b> <%=h @id %></p>

<% else %>

  <div class="gaggle-data">
    <p>
      <b>Name:</b>
      <span class="gaggle-name"><%= @doc["name"] %></span>
    </p>

    <% if @doc["type"] %>
    <p>
      <b>Type:</b>
      <%= @doc["type"] %>
    </p>
    <% end %>

    <% if @species then %>
    <p>
      <b>Species:</b>
      <span class="gaggle-species"><%=h @species %></span>
    </p>
    <% end %>

    <% if @size then %>
    <p>
      <b>Length:</b>
      <span class="gaggle-size"><%= @size %></span>
    </p>
    <% end %>

  </div>

  <% if @doc.has_key? "description" %>
  <p>
    <b>Description:</b>
    <%= @doc["description"] %>
  </p>
  <% end %>

  <div id="tuple"><%= @tuple_html.html_safe %></div>

<% end %>

<%= link_to 'JSON', document_path(@id)%>
