<p id="notice"><%= notice %></p>

<% if @doc==nil then %>

  <p><b>No namelist found with id: </b> <%= @id %></p>

<% else %>

  <div class="gaggle-data">
    <p>
      <b>Name:</b>
      <span class="gaggle-name"><%= @doc["name"] %></span>
    </p>

    <% if @doc["type"] %>
    <p>
      <b>Type:</b>
      <%= @doc["type"] %>
    </p>
    <% end %>

    <% if @species then %>
    <p>
      <b>Species:</b>
      <span class="gaggle-species"><%= @species %></span>
    </p>
    <% end %>

    <% if @size then %>
    <p>
      <b>Length:</b>
      <span class="gaggle-size"><%= @size %></span>
    </p>
    <% end %>

  </div> 

  <% if @doc.has_key? "description" %>
  <p>
    <b>Description:</b>
    <%= @doc["description"] %>
  </p>
  <% end %>

  <ul>
  <% for name in @doc["gaggle-data"] do %>
    <li class="names"><%= name %></li>
  <% end %>
  </ul>

<% end %>

<%= link_to 'JSON', document_path(@id)%>