<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title or 'Gaggle-JSON' %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="header">
<img id="logo" src="/images/goose_small.jpg"></img>
<h1><a href="/">Gaggle-JSON</a></h1>
</div>

<div id="nav">
<ul>
</ul>
</div>

<div id="content">
<%= yield %>
</div>

<div id="footer">
  <p><a href="/">Home</a> | <a href="/help">Help</a> | <a href="/about">About</a> | <a href="http://gaggle.systemsbiology.net">Gaggle</a> | <a href="http://systemsbiology.org">Institute for Systems Biology</a></p>
</div>

</body>
</html>
