<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title or 'Gaggle-JSON' %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="header">
<h1><a href="/">Gaggle-JSON</a></h1>
</div>

<div id="nav">

</div>

<div id="content">
<%= yield %>
</div>

</body>
</html>
